<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid nav-content">
      <a class="navbar-brand" href="#"><img src="../assets/images/linkcookie-logo.png" class="nav-logo img-fluid" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="24" fill="currentColor"><path d="M1 0h6a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 8h8a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0-4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z"></path></svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="main" routerLinkActive="active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="jobseekers" routerLinkActive="active">Job Seekers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="recruiters" routerLinkActive="active">Recruiters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mg-lg-0">
          <li class="nav-item secondary-button">
            <a class="nav-link" aria-current="page" routerLink="../login">Login</a>
          </li>
          <li class="nav-item primary-button">
            <a class="nav-link" aria-current="page" routerLink="../signup">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>